# Node
node_modules/
npm-debug.log*
yarn-error.log
package-lock.json

# Logs
logs
*.log
pids
*.pid
*.seed

# OS / Editor
.DS_Store
Thumbs.db
.vscode/
.vscode/*

# Data
data/
*.db

# Environment
.env
.env.local
.env.*.local

# Optional
coverage/
dist/